body {
  font-family: "Roboto", sans-serif;
}

.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-container h1 {
  font-size: 40px;
}
.video-container video {
  margin-top: 10px;
  width: 960px;
  height: 540px;
}
