---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />

    <title>Video Player</title>
  </head>
  <body>
    <section class="video-container">
      <h1>Play Local Video</h1>
      <input type="file" id="videoFile" accept="video/*" />
      <video controls></video>
    </section>

    <section class="video-container">
      <h1>Paste Video Link To Play</h1>
      <input type="text" id="videoLink" />
      <button id="playButton">Play Video</button>
      <iframe width="960" height="540" src="" id="pastedVideoPlayer"> </iframe>
    </section>

    <script src="../scripts/index.ts"></script>
  </body>
</html>
